@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url('../images/Background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}

/* Headers and logo */

h1, h2 {
    color: #fff;
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
}

#logo {
    color: #fff;
    float: right;
    font-size: 3.5rem;
    margin-right: 25px;
}

hr {
    border-top: 1px solid #000;
    width: 100%;
}

/* Navigation links */

#nav-links {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: #fff;
}

#nav-links, #logo {
    line-height: 75px;
}

div ul {
    float: left;
}

#nav-links li {
    display: inline;
    list-style-type: none;
    padding: 25px 23px 23px;
    /* border: 1px solid #fff; */
}

#nav-links a {
    text-decoration: none;
    color: #fff;
}

#nav-links a:hover {
    color: #7fff00;
    border-bottom: 1px solid #7fff00;
}

.active {
    color: #7fff00;
    border-bottom: 1px solid #7fff00;
}

/* Flexbox navigation links */

.nav-flex-container {
    width: 600px;
    display: inline-flex;
    align-items: stretch;
    justify-content: flex-start;
}

.nav-flex-container > div {
    width: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 2rem;
}

.nav-links {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
    color: #fff;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.nav-links a:hover {
    color: #7fff00;
    border-bottom: 1px solid #7fff00;
}

/* Page section styling */

.left-side {
    height: 100%;
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
}

.left-side h2 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.left-side p {
    padding: 10px 30px 10px 30px;
    color: #fff;
}

.right-side {
    position: relative;
    float: right;
    width: 50%;
    text-align: center;
}

.right-side p {
    font-size: .9rem;
    padding-top: 10px;
    padding-right: 30px;
    color: #fff;
}

.right-side video {
    padding-top: 30px;
    padding-right: 30px;
    width: 77%;
}

/* Portfolio page flexbox styling */



/* Gallery page flexbox styling */

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 33%;
    max-width: 33%;
}

.column img {
    vertical-align: middle;
}

/* Footer */

/* Add page-container code to manage footer positioning - code below sourced from https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 100px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.social-media {
    float: none;
    text-align: center;
 }

.social-media li {
    display: inline-block;
}

.social-media i {
    font-size: 2rem;
    margin: 20px 10px 0;
    padding: 20%;
    color: #fff;
}

.breadcrumb {
    font-family: 'Amatic SC', cursive;
    float: none;
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
}

.breadcrumb li {
    display: inline-block;
    list-style-type: none;
}

.breadcrumb a {
    text-decoration: none;
    color: #fff;
}

.breadcrumb a:hover {
    color: #7fff00;
    border-bottom: 1px solid #7fff00;
}

/* Add a slash symbol (/) before/behind each list item - code below pasted from https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */
.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: "/\00a0";
  }

/* Media query for screen width 600px and below */

@media screen and (max-width: 600px) {

    #logo {
        float: none;
        display: block;
        font-size: 3.5rem;
        text-align: center;
    }
    
    .left-side {
        position: relative;
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .right-side {
        position: relative;
        float: none;
        width: 100%;
        text-align: center;
    }
    
    .right-side p {
        font-size: .9rem;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .right-side video {
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        width: 77%;
    }

    .column {
        flex-direction: column;
        max-width: 100%;
    }
    
}

/* Media query for screen width 992px and below */

@media screen and (max-width: 992px) {

    .column {
        flex: 50%;
        max-width: 50%;
    }

}