/* google fonts api here */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #000;
    font-family: sans-serif;
    color: #fff;
}

/* Headers and logo */

h1, h2 {
    font-family: cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#logo {
    float: right;
    font-size: 2rem;
    margin-right: 25px;
}

hr {
    border-top: 1px solid #fff;
    width: 100%;
}

/* Navigation links */

#nav-links {
    font-size: 1.1rem;
    letter-spacing: 3px;
}

#nav-links, #logo {
    line-height: 75px;
}

div ul {
    float: left;
}

#nav-links li {
    display: inline;
    list-style-type: none;
    padding: 25px;
    border: 1px solid #fff;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}

#nav-links a:hover {
    color: #7fff00;
    border-bottom: 1px solid #7fff00;
}

.active {
    border-bottom: 1px solid #7fff00;
}
